{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}
<div class="container my-auto d-flex justify-content-center align-items-center flex-grow-1">
    <form class="c-form" action="{{ url_for('user.create_user') }}" method="POST" c-append="#lista-append">
        <div class="mb-3">
            <label for="exampleInputNome1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleInputNome1" name="nome">
        </div>

        <div class="mb-3">
            <label for="exampleInputNasc1" class="form-label">Data de Nascimento</label>
            <input type="text" class="form-control" id="exampleInputNasc1" name="nascimento">
        </div>

        <div class="mb-3">
            <label for="exampleInputCpf1" class="form-label">CPF</label>
            <input type="text" class="form-control" id="exampleInputCpf1" name="cpf">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
        </div>

        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
{% endblock %}